.odermain{
    margin-top: 5px;
}
.title .top-resultday h5{
    font-weight: 600;
    font-size: 15px;
}

.additional-infor{
    box-shadow: 0px 2px 4px 5px rgb(168 168 168 / 25%);

}
.button-create-order{
    margin-top: 20px;
}
.button-create-order{
    display: flex;
    justify-content: end;
}
.button-create-order .cancel{
    padding: 0 16px;
    border: solid 1px #0088FF;
    font-size: 13px;
    height: 36px;
    color: #0088FF;
    border-radius: 3px;
    font-weight: 600;
    margin-right: 15px;
    cursor: pointer;
}
.button-create-order  .cearte-oder{
    background-color: #0088FF;
    color: white;


}

@media (max-width:1020px){
    .container-bill{
        flex-direction: column;
        justify-content: center;
    }
    .left-bill {
        width: 100%;
    }
    .right-bill {
        width: 100%;
    }
}