.option-branch.focus{
    border: #048aff solid 1px
    ;
}

.option-branch{ 
    margin: auto 0;
    height: 37px;
    border-radius: 10px;
}
#option-branch:focus {
    outline: none;
    box-shadow: none;
  }
  #option-branch:focus,
  #option-branch:hover{
    border: solid 1px aqua;
  }
  .option-branch{
      position: relative;
      margin: auto 0;
      height: 33px;
      border: solid 1px black;
      padding: 0 25px;
      border-radius:5px;

      padding-top: 5px;
  }
  .items-option{
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      border: solid 1px black;
      display: none;
      opacity: 0;
      background-color: white;
      animation-name: openOption;
        animation-duration: 0.5s;
    animation-fill-mode: forwards;

  }
  .items-option div{
    height: 37px;
    line-height: 40px;
    border-radius: 10px;


}
.select-item-option {
    padding-right: 10px;
    cursor: pointer;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 

}
.select-item-option .icon-down-header{
    position: absolute;
    right: 5px
}
.items-option.active{
    display: block;

}
  