.customer-info-content{
    width: 100%;
}
.customer-info-content{
    margin: 10px 0;
    cursor: pointer;


}
.customer-info-content input{
    padding: 10px 0;
    padding-right: 8px;
    border: solid 1px #d3d5d7;
    border-radius: 5px;
    color: black;
    padding: 0;
    font-size: 15px;
    padding: 5px;
}
.customer-info-content input:focus{
    outline: none;
    border: solid 1px #0088ff;
}

.customer-info-content input:hover{
    outline: none;
    border: solid 1px #adadad;
}

.customer-info-content .input-main{
    position: relative;
    padding: 0 0;
    padding-right: 60px;
    padding-left: 10px;
    
}
.customer-info-content .input-main input{
   
    padding-left: 36px;
    color: #a3a8af;
    width: 100%;

}
.customer-info-content .container-info-customer{
   
   position: absolute;
   top: 40px;
   right: 14px;
   left: 10px;
   box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
background-color: white;
}
.info-customer .top-resultday{
    /* border-bottom: 1px solid #E8EAEB; */
    border: none;
}
.customer-info-content .input-main .icon-search{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    color: #a3a8af;
}
.icon-content-customer{
    font-size: 100px;
    color: rgb(232, 234, 235);

}
.container-customer-info p{
    font-size: 14px;
    color: rgb(163, 168, 175);

}
.container-customer-info{
    padding-top: 20px;
    padding-bottom: 30px;
    z-index: 2;

}

.topoutside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
  }
  .topoutside.hide{
  
    display: none;
    
  }
.customer-info-content{
    z-index: 1;
}
.hide-search{
    display: none;
}

.show-item{
    padding: 0 20px;
    height: 200px;
}
.info-name-mskh span{
    display: flex;
}
.info-name-mskh span h5{
    margin: 0;
    font-size: 15px;
    color: #0088ff;
    margin-right: 2px;
}
.info-name-mskh span p{
    margin: 0;
    font-size: 14px;
    margin-left: 2px;


}
.main-show-item {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.main-show-item h6{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
}
.left-main-show-item span{
    display: flex;
    flex-direction: column;
}
.left-main-show-item span p{
    margin: 10px 0;
    text-align: left;
    font-weight: 300;
}

.right-main-show-item{
    justify-content: end;
    border: 1px black dotted;
    border-radius: 5px;
    padding: 0 5px;
    width: 300px;
}
.right-main-show-item li{
    display: flex;
    justify-content: space-between;
}
.right-main-show-item li p{
    font-size: 13px;
    margin: 0;
    margin: 10px;
   
}
@media (max-width:700px){
    .main-show-item {
        display: flex;
        flex-direction: column;
    }
    .right-main-show-item{
        flex: 1;
        margin: 0 auto;
        margin-top: 15px;

       
    }
    .show-item{
        height: 240px;
    }
}