.justify-content-center{
    display: flex;
    justify-content: center;
}
.vh-100{
    margin-top: 100px;
}
.img-fluid{
    width: 90%;
}
.l-login{
    flex: 1;
}
.r-login{
    margin-top: 00px;
    flex: 1;
    width: 320px;
}
.form-login{
    padding: 0 180px;

}
.lead{
    font-size: 20px;
    margin-right: 20px;
    margin-top: -7px;
    opacity: 0.6;
    font-weight: 600;
}
.iconc{
    border-radius: 50%;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    color: white;
    
    background-color: #3b71ca;
}
.divider .text-center{
    font-size: 16px;
    margin-right: 20px;
    margin-top: -7px;
    font-weight: 600;
}
.form-outline{
    margin: auto;
    position: relative;
    margin-bottom: 25px;
}
.form-outline input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
    border: solid 1px rgb(99, 96, 96);
    transition: all 0.5s;
}
.form-outline label{
    position: absolute;
    top: 9px;
    left: 10px;
    transition: all 0.1s;
    user-select: none;
    pointer-events: none;
}
.form-outline input:not(:placeholder-shown),
.form-outline input:focus{
    
    border: solid 1px #3b71ca;
}
.form-outline input:not(:placeholder-shown) + label,
.form-outline input:focus + label{
    
   top: -10px;
   background-color: white;
   padding: 0 5px;
}

.checkbox-remenber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: -10px;
}
.form-check-input{
    margin-right: 5px;
}
.btn-lg{
    background-color: #3b71ca;
    outline: none;
    border: none;
    height: 40px;
    color: white;
}
.lg-f{
    margin-top: 0px;
}